@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700;800&display=swap');
@import 'variables';
@import 'utilites';
@import 'mixins';
@import 'reset';
@import '@/assets/fonts/NeueMachine/fontface.css';
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: $brand-primary;
	scroll-behavior: smooth;
	font-family: "Neue Machina-bold", sans-serif;
	line-height: 1.44rem;

	&.modal-open {
		overflow: hidden;
	}
}
#__nuxt, #__layout {
	height: 100%;
}
.nft-container {
	padding: 0 6%;
	max-width: 1600px;
	margin: 0 auto;
	@media (max-width: 600px) {
		padding: 0 3%;
	}
}
.brand-button {
	background: $brand-primary;
	color: white;
	padding: 4px 16px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;

	@include fonts(normal, 800, 1rem, "Neue Machina-bold");
	line-height: 1.5rem;
	&--outlined {
		outline: 1px solid $brand-primary;
		color: $brand-primary;
		background: transparent;
	}
}

* {
	touch-action: manipulation;
}
