@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import 'variables';
@import 'utilites';
@import 'mixins';
@import 'reset';
html {
	scroll-behavior: smooth;
}
body {
	//background: $layout-background;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	scroll-behavior: smooth;
}
.metazoid-container {
	padding: 0 6%;
	max-width: 1600px;
	margin: 0 auto;
}
